@font-face {
    font-family: 'IndieFlower';
    src: url("../assets/fonts/IndieFlower-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url("../assets/fonts/DancingScript-VariableFont_wght.ttf") format('truetype');
}